html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bebas-light {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}


.normal-text{
  font-size: 16px;
  color: white;
}


.dark-theme{
  background-color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
  color: #fff;
  background-color: #e51440;
  border-color: #e00e3b;
  font-family: "Bebas Neue", sans-serif;

}

.btn-primary:hover {
  color: #fff;
  background-color: #b7072d;
  border-color: #b7072d;
  outline: none !important;
  box-shadow: none;
  font-family: "Bebas Neue", sans-serif;
}

.btn:focus,
.btn:active {
  color: #fff;
  background-color: #e51440;
  border-color: #e00e3b;
  outline: none !important;
  box-shadow: none;
  font-family: "Bebas Neue", sans-serif;
}

.cancel-btn:focus,
.cancel-btn:active {
  color: #fff;
  background-color: #4b4b4b;
  border-color: #4b4b4b;
  outline: none !important;
  box-shadow: none;
  font-family: "Bebas Neue", sans-serif;
}

.modal-content {
  background-color:#2D2D2D;
}

.modal-title{
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.modal-body{
  color: white;
  padding-bottom: 10px;
  padding-top: 5px;

}

.modal-header{
  /* border-bottom: 0.5px solid #888888; */
  border-bottom: none;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 10px;
}

.modal-footer{
  border-top: none;
}
