html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bebas-light {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.bebas-dark {
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

.dark-theme{
  background-color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
  color: #fff;
  background-color: #e51440;
  border-color: #e00e3b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b7072d;
  border-color: #b7072d;
  outline: none !important;
  box-shadow: none;
}

.btn:focus,
.btn:active {
  color: #fff;
  background-color: #e51440;
  border-color: #e00e3b;
  outline: none !important;
  box-shadow: none;
}
