/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  }

a {
  color: #0077cc;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  /* background-color: #1b6ec2;
  border-color: #1861ac; */
}
.container{
    z-index:10;
}
.pb-3 {
    padding-bottom: 0rem !important;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
#infoElement {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
.col-md-2 {
    flex: 0 0 auto;
    width: 9.66666667% !important;
}

/* #footer-custom {
    margin-left: 8rem;
} */


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#footer-custom {
    margin-left: 8rem;
}
.footer {
    background-color: #ABABAB;
    white-space: nowrap;

}
/* .customref {
    text-decoration: none !important;
} */



/*small screens*/
@media(max-width: 767px){
  .half-a-border-on-top {
    border-top: none;
  } 
}

/*large screens*/
@media(min-width: 768px){
    .half-a-border-on-top {
      border-top: 2px solid;
      border-image: linear-gradient(to right, #FFF 50%, transparent 50%) 100% 1;
    }
}