#AboutContactBtn, #add-modal-add-btn, #disabled-add-modal-add-btn {
    font-size: 36px;
    position: relative;
    top: 3px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
}
   
.google-map {
    padding-bottom: 50%;
    position: relative;
}

    .google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }

.map {
    -webkit-filter: grayscale(100%);
}

/*large screens*/
@media(min-width: 768px) {

    .modal-body {
        left: 30%;
    }
}
