@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section class="mt-2 mt-md-4 row" id="program-block">
    <div class="container">
        <h1 class="bebas-light" style="text-align: center;">GET IN TOUCH</h1>
        <p class="normal-text" align="center" style="text-justify:inter-word; padding-left: 15%; padding-right: 15%">
            Have questions or ready to start? Reach out to our team for
            information on programs, facilities, and memberships. Let's begin
            your fitness journey together!
        </p>

        <div class="text-center"><a href="/Contact" id="AboutContactBtn" class="btn btn-primary">GENERAL ENQUIRIES</a></div>
    </div>
</section>

<section class="section-spacing">
    <div class="google-map container mt-5">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2561.009466965768!2d67.07169283820667!3d24.801808242096605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33d8877bc8243%3A0xb7b6adbe8e7767b8!2sSana%20Sarah&#39;s%20Salon%20%26%20Studio%20-%20DHA%20Branch!5e0!3m2!1sen!2s!4v1708807472130!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>