@page
@model PartnerModel
@{
    ViewData["Title"] = "Partners";
}

<section id="partners-block">
    <div class="container">
        <div class="row mt-4">
            <h1 class="bebas-light" style="text-align: center;">Partners</h1>
        </div>
    </div>

</section>